.Page-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 100vh;
  overflow: scroll;
  padding-top: 50px;
}

.LayoutWrap {
  width: min(90%, 900px);
  margin-inline: auto;
  //margin: 0 auto;
  position: relative;
  float: none;
}

.Layout {
  padding: 0 1vw 0 1vw;
}
