
.SideNavbar {
  display: flex;
  //justify-self: start;
  //align-self: start;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;

    &__link {
      color: black;
      font-weight: bold;
      text-align: center;
      &--active {
        border-bottom: 4px solid #4a4a4a;
      }
  }
}
