$prim-dark: #081158;
$prim: #3848c6;
$prim-light: #4054ed;
$black: #252525;
$prim-white: #ccd1fa;
$white: #ecedff;

$gradient-1: linear-gradient(0deg, rgba(8,17,88,1) 0%, rgba(80,64,237,1) 100%);
$gradient-2: linear-gradient(0deg, rgba(64,84,237,1) 0%, rgba(15,32,159,1) 100%);
$gradient-3: linear-gradient(45deg, rgba(15,32,159,1) 0%, rgba(64,84,237,1) 100%);


$shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-2: rgba(149, 157, 165, 0.2) 0px 8px 24px;
